* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;

}

.header-links {
  color: #ddd;
}

/* Submit and Clear */
.btn {
  display: inline-block;
  border: none;
  background: #333;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}

.btn-red {
  background: #8b1717
}

.btn-red:hover {
  background: #741414
}

/* No items */
.no-items {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #818181;
}

/* Todo Items */
.item-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 5px;
}

.checkbox  {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-top: 2px;
}

.checkbox input {
  width: 20px;
  height: 20px;

}

.item-title {
  padding: 2px 0px;
}

.btn-delete {
  color: #972626;
  text-align: center;
  cursor: pointer;
  margin-top: 2px;
  font-size: 20px;
}

.btn-delete:hover {
  color: #750f0f;
}
/* Footer */
.footer {
  width: 100%;
  padding: 10px 20px;
  background: #1f1f1f;
  color: white;
}

.footer a {
  color: #f1f1f1f1;
  text-decoration: underline;
  font-size: 0.8rem;
  margin: 0;
}